<template name="TracksTable">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="track">Track</th>
            <th class="artist">Artist</th>
            <th class="bpm">BPM</th>
            <th class="beats-num">Beats</th>
          </tr>
        </thead>
        <tbody>
          {{#each tracks}}
            {{> TracksTableRow track=this audioContext=../audioContext}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
